footer
  .row
    .col.full(align='center')
      .productlogo.hc.flat.dark: include includes/hc-flat.pug

      ul.products
        li: .productlogo.flat.cto: include includes/cto-flat.pug
        li: .productlogo.flat.cro: include includes/cro-flat.pug
        li: .productlogo.flat.cco: include includes/cco-flat.pug
        li: .productlogo.flat.chro: include includes/chro-flat.pug

      ul.social
        li: a(href='https://twitter.com/hackcapital',color='dark'): i(class='fa fa-twitter')
        li: a(href='https://blog.hackcapital.com',color='dark'): i(class='fa fa-medium')
        li: a(href='https://github.com/HackCapital',color='dark'): i(class='fa fa-github')
        li: a(href='mailto:kc@hackcapital.com',color='dark'): i(class='fa fa-envelope')

      p.copyright Copyright &copy; 2017 Hack Capital Ventures, Inc.
