//- CRO
extends product.pug

block variables
  - var title = 'Your Chief Revenue Officer - CRO.ai'
  - var product = 'cro'

block header
  h1 Your Chief Revenue Officer

  p Our Chief Revenue Officer gives your team a proven, fully integrated approach for prospecting customers. We help you attact, retain and measure growth so you can focus on hustling.

block introduction
  h1 Top of the Pyramid

  p.intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui arcu, at pulvinar magna hendrerit quis. Praesent nisi leo, consequat et magna sed, aliquet porttitor odio.

block features
  +feature('Prospect Customers','aqua','feature-prospect')
    +item('Big Data','handshake-o')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Targeted Pipeline','sitemap')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Stay Focused','sliders')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Continue Selling','leaf')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  +feature('Marketing Automation','pink','feature-marketing')
    +item('Value Proposition','magic')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('A/B Testing','balance-scale')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Analyze Results','list-ol')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Convert Traction','refresh')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  +feature('Feature Integration','navy','feature-launch')
    +item('Ship New Features','send')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Announce Releases','bullhorn')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Measure Adoption','bar-chart')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Realtime Feedback','comments')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  +feature('Revenue Forecasting','slate','feature-forecasting')
    +item('Forecast Growth','line-chart')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Full 360 View','street-view')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Review Results','list-ol')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    +item('Assess Requirements','tasks')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
