//- CRO
extends product.pug

block variables
  - var title = 'AI for Chief Revenue Officers - CRO.ai'
  - var product = 'cro'

block header
  h1 Know exactly how to grow.

  p Our platform gives your team a proven, fully integrated approach for managing growth. We help you attact, retain and measure your process so you can focus on hustling massive deal flow.

block introduction
  h1 Always be closing…

  p.intro Startup CROs face lots of new challenges every day. Re-inventing the operational growth stack doesn't have to be one of them. Sales people love helping customers find value in their products. CRO.ai provides a proven approach for execution so that you can stay focused on closing.

block features
  +feature('Prospect Customers','aqua','feature-prospect')
    +item('Big Data','handshake-o')
      p We leverage big data to help you find new opportunities.
    +item('Targeted Pipeline','sitemap')
      p Our targeted pipline helps you organize your funnel efficiently.
    +item('Stay Focused','sliders')
      p Stay focused on the task at hand using our streamlined process.
    +item('Continue Selling','leaf')
      p Spend more of your time on selling and less time researching.
  +feature('Marketing Automation','pink','feature-marketing')
    +item('Engagement','magic')
      p Use proven channels to drive engagement to the top of the funnel.
    +item('A/B Testing','balance-scale')
      p Leverage integration with CTO.ai to split test CTAs.
    +item('Analyze Results','list-ol')
      p Understand the results of your split tests and learn from them.
    +item('Get Traction','refresh')
      p Leverage this information to get traction quickly.
  +feature('Feature Integration','navy','feature-launch')
    +item('Ship New Features','send')
      p Use new features as a way to drive deeper engagement.
    +item('Announce Releases','bullhorn')
      p Make new releases a big deal for your customers.
    +item('Feature Flags','flag')
      p Safely roll out  new features using feature flags.
    +item('Realtime Feedback','comments')
      p Get real time feedback as you roll out features.
  +feature('Forecasting','slate','feature-forecasting')
    +item('Forecast Growth','line-chart')
      p Leverage data about your growth to forecast growth.
    +item('Full 360 View','street-view')
      p Get a full 360 view of your customers & your product.
    +item('Set Growth Goals','list-ol')
      p Set goals for growth and measure your progress.
    +item('Fundraising','tasks')
      p Leverage your traction and insights, to inform investors.
