// CRO Styles
header.cro
  height auto
  padding-bottom: 200px
  overflow hidden
  &:before, &:after
    position absolute
    content ""
    width 0
    height 0
    background none
    bottom 0
    z-index 2
    display block
    border-style solid
    background transparent
  &:before
    left 0
    border-color transparent transparent white transparent
    border-width 0 0 75px 50vw
  &:after
    right 0
    border-color transparent white white white
    border-width 75px 0 0 50vw

.pulse
  img
    &.feature-prospect
      width 202px
      height 221px
      margin-left -4px
      margin-top -24px
    &.feature-ab
      width 202px
      height 142px
      margin-left -4px
      margin-top auto
      margin-bottom auto
    &.feature-integration
      width 226px
      height 182px
      margin-top auto
      margin-bottom auto
      margin-left -16px
